h1 {

}

#facebook-login {
  text-align: center;
  color: black;
  background-color: white;
  width: 250px! important;
  height: 220px! important;
  border-radius: 5px;
  clear: both;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
  background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
  margin-top: -40px;
  padding: 5px;
  margin-bottom:10px;
  position: relative;
}

#facebook-login h3 {
  width: 200px;
  text-align: center! important;
  position: center;
  margin-left: 20px;
}

body {
  background-color: cornflowerblue
}

button {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
  background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));;
  height: 30px;
  padding: 5px;
}

button:hover {
  background: #D7E9F5;
  cursor: pointer;
}

#make-posts {
  float: right;
  text-align: center;
  width:200px;
  margin-top: -650px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
  background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
  border-radius: 5px;
  z-index: 1;
}
.post {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
  background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));;
  padding: 10px;
}

#nav {
  text-align: center;
  margin-top: -200px;
}
#modal {
  display: none; 
  position: fixed;
  left: 25%; 
  top: 20px;
  margin-top: 60px;
  padding: 30px 30px;
  border-radius: 10px;
  background-color: black;
  height: 300px;
  overflow: scroll; 
  width: 50%;
  z-index: 100; 
  opacity: .9;
  color: white;
}

#close-modal {
  float:right;
  cursor: pointer;
}
#posts-container {
  height: 500px;
  width: 100%;
  text-align: center;
  background: white;
  overflow: scroll;
  border: 5px solid black;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
  background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));;
  margin-top: 50px;
  position: relative;
}

#home {
  margin-top: 50px;
}

#posts-container .post {
  position: center;
  width: 50%;
  margin-left: 25%;
  border: 1px solid black;
}

#heading {
  text-align: center;
}

#facebook-login {
  text-align: center;
  position: left;
  width: 30%;
  margin-bottom: -50px;
}

#username {
  position: relative;
  text-align: left;
  left: 10px;
  top: 140px;

}
#genre {
  position: relative;
  bottom: 40px;
  float: center;
  font-size: 18px;
  text-align: center;
  
}
.post p {
  position: relative;
  margin-bottom: 50px;
  font-size: 20px;
}

.post h1 {
  text-align: center;
  margin-left: 45%;
}
img {
  position: relative;
  height: 150px;
  width: 120px;
  float: left;
  bottom: 100px;
  border: 1px solid black;
  z-index: 10;
}